@page
@model Bakdelar.Pages.Admin.Product.EditModel
@{
    Layout = "Admin_Layout";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label"></label>
                <input asp-for="Product.ProductDescription" class="form-control" />
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductPrice" class="control-label"></label>
                <input asp-for="Product.ProductPrice" class="form-control" />
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SpecialPrice" class="control-label"></label>
                <input asp-for="Product.SpecialPrice" class="form-control" />
                <span asp-validation-for="Product.SpecialPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductWeight" class="control-label"></label>
                <input asp-for="Product.ProductWeight" class="form-control" />
                <span asp-validation-for="Product.ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.AvailableQuantity" class="control-label"></label>
                <input asp-for="Product.AvailableQuantity" class="form-control" />
                <span asp-validation-for="Product.AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.IsSelected" class="control-label"></label>
                <input asp-for="Product.IsSelected" class="form-control" />
                <span asp-validation-for="Product.IsSelected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="productCategory">Välj en kategori:</label>
                @Html.DropDownListFor(x => x.Product.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), htmlAttributes: new { @class = "form-control", id = "CategoryId" })
                @Html.ValidationMessageFor(x => x.Product.CategoryId, "", new { @class = "text-danger" })
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
