@page
@model Bakdelar.Pages.Admin.Category.DeleteModel
@{
    Layout = "Admin_Layout";
}


<h4>Är du säker på att du vill ta bort kategorin?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayTextFor(model => model.Category.CategoryName)
        </dt>
        
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Category.CategoryId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka</a>
    </form>
</div>
