@using Bakdelar.Classes;

@{
    BreadcrumbsView breadcrumbs = null;
    if (ViewData["breadcrumb"] != null)
    {
        breadcrumbs = (BreadcrumbsView)ViewData["breadcrumb"];
    }
}

@if (breadcrumbs != null)
{
    <div class="col-md-12 d-flex flex-row bd-highlight mb-1" style="max-height:50px;">
        <div>

            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/index" data-abc="true" style="cursor:pointer;">
                        @*<i class="fa fa-home"></i>*@
                        <span class="material-icons">home</span>
                    </a>
                </li>
                @if (breadcrumbs.Category != null)
                {
                    <li class="breadcrumb-item">
                        @if (breadcrumbs.ProductName != null)
                        {
                            <a href="/Category?Id=@breadcrumbs.Category.CategoryId" data-abc="true">@breadcrumbs.Category.CategoryName</a>
                        }
                        else
                        {
                            @breadcrumbs.Category.CategoryName
                        }
                    </li>
                    @if (breadcrumbs.ProductName != null)
                    {
                        <li class="breadcrumb-item">
                            @breadcrumbs.ProductName
                        </li>
                    }
                }
            </ul>

        </div>
    </div>
}