<div class="footer_barrier bg-dark"></div>


<footer class="footer justify-content-center align-items-center footer_background">
    <div class="container my-5">
        <div class="row">
            <div class="col justify-content-center text-center">
                <div class="bg-dark text-white py-1 mx-3">
                    <h1>
                        Kontakta oss
                    </h1>
                </div>
                <div class="text-black text-center">
                    <p>
                        <br />
                        Telefon: 0281-71490
                        <br />
                        Mån-ons 9 - 18
                        <br />
                        Tors-fre 9 - 16
                        <br /><br />
                        E-post: info@bakdelar.se
                    </p>
                </div>
            </div>
            <div class="col justify-content-center text-center">
                <div class="bg-dark text-white py-1 mx-3">
                    <h1>
                        Information
                    </h1>
                </div>
                <div class="text-black-50 text-center">
                    <p>
                        <br />
                        <a href="#">Om Bakdelar.se</a>
                        <br />
                        <a href="#">Site Security</a>
                        <br />
                        <a href="#">Köpvillkor</a>
                        <br />
                        <a href="#">GDPR</a>
                        <br />
                        <a href="#">Privacy</a>
                    </p>
                </div>
            </div>
            <div class="col justify-content-center text-center">
                <div class="bg-dark text-white py-1 mx-3">
                    <h1>
                        Följ oss
                    </h1>
                </div>
                <div class="ml-7">
                    <br />
                    <a href="#">Facebook</a>
                </div>
                <div class="ml-7">
                    <a href="#">Twitter</a>
                </div>
                <div class="ml-7">
                    <a href="#">Instagram</a>
                </div>                
                @*&copy; 2021 - Bakdelar.se -*@ @*<a asp-area="" asp-page="/Privacy">Privacy</a>*@
            </div>
            @*<a class="btn btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span>
                </a>*@

        </div>
    </div>
</footer>
