<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewData["Title"] - Bakdelar</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/fontawesome/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Coustard&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <partial name="Banner.cshtml" />
    <partial name="_Navbar.cshtml" />

    <div id="body" class="container-fluid">
        <div class="row">
            <div class="col p-0 m-0 mb-1 justify-content-center">
                <partial name="_Sidemenu.cshtml" />
            </div>
            <div class="col-lg-12 container justify-content-center align-items-center" style="margin-top: -0.5rem;">
                <div class="row justify-content-center shadow-sm px-2 p-3 mb-5 bg-white rounded min-vh-100">
                    <partial name="_breadcrumbs.cshtml" />
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <partial name="_Footer.cshtml" />

    @*<footer class="border-top footer justify-content-center align-items-center bg-dark">
       <div class="container text-light">

            <a href="#">Customer information</a>
            <a href="#">GDPR</a>
            
            &copy; 2021 - Bakdelar.se - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
