<nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm sticky-top">
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row justify-content-between" style="width: 100%">

            <div class="col-md-auto justify-content-start">

                <ul class="navbar-nav ml-auto">
                    <li class="navbar">

                        <button class="btn navbar-dark btn-secondary" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-auto m-auto">
                <ul class="navbar-nav justify-content-center" id="navbarNavAltMarkup">
                    <li class="navbar-nav">
                        <a class="nav-item nav-link active navbar-text my-auto" href="/">Hem</a>
                        @*<a href="/index"><img src="~/images/bakdelarlogo.png" style="max-height:100px" /></a>*@
                    </li>
                    @*<li class="navbar-nav">
                            <a class="nav-item nav-link navbar-text" href="Categories">Kategorier</a>
                        </li>*@
                    <!--<li class="navbar-nav nav-link navbar-text">-->
                    @*<a class="nav-item nav-link navbar-text" href="Checkout">*@
                    <!--Kassa-->
                    @*</a>*@
                    <!--</li>-->
                </ul>

            </div>
            <div class="col-md-auto d-flex justify-content-end">

                <form class="form-inline my-2 my-lg-0 d-inline-flex" action="@Url.Content("~/Search")" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Sök..." aria-label="Search" name="Name">
                    <span class="input-group-btn">
                        <button class="btn text-white" type="submit">
                            <i class="material-icons">
                                search
                            </i>
                        </button>
                    </span>
                </form>
                <ul class="navbar-nav ml-auto">
                    <partial name="_LoginPartial" />
                    <li class="navbar">
                        <partial name="_ShoppingBasket.cshtml" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>