<div class="collapse bg-light" id="navbarToggleExternalContent">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." />
        <span class="input-group-btn">
            <button class="btn" type="submit">
                <i class="material-icons">
                    search
                </i>
            </button>
        </span>
    </div>
    <div class="ml-3 pb-3">
        <div class="ml-3">
            <h1 style="font-size: 1rem;">Kategorier</h1>
            <div class="ml-7">
                Bakning
            </div>
            <div class="ml-7">
                Dekoration
            </div>
            <div class="ml-7">
                Redskap
            </div>
        </div>
    </div>
</div>