<header class="section-header py-4" id="banner-image">
    <div class="container ">

        <div class="d-flex justify-content-center">
            @*<div class="col">
                </div>*@
            <img src="~/images/bakdelarlogosvart.png" style="" />
            @*<div class="col">

                    <h1 id="brand-font">B A K D E L A R . S E</h1><br />
                    <h2 id="slogan-font">Att få söta saker att hända.</h2>
                </div>
                <div class="col">
                </div>*@
        </div>
    </div>
</header>