@page
@model PrivacyModel
@{
    ViewData["Title"] = "bakdelar.se";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex flex-wrap justify-content-left">
    <h1 class="guide__title">Information om dataskydd - GDPR</h1>


    <p>
        Det gläder oss att du hittat hit och vill läsa mer om vårt dataskydd.
        Vi på bakdelar.se värnar om våra kunder,
        vilket innebär att vi bryr oss om din integritet.
    </p>


    <h3>Dataåtkomst och hosting</h3>
    <p>
        Personuppgiftsbehandling sker inom Bakdelars publicistiska verksamhet.
        <br />Det innebär att endast vissa bestämmelser i Dataskyddsförordningen (på engelska General Data Protection Regulation, GDPR) gäller för behandlingen, till exempel reglerna som rör säkerhet för personuppgifter.
        <br /> Har du några frågor är du välkommen att kontakta oss via mejl på dataskyddsforordningen@bakdelar.se.

    </p>

    <h3>Dataöverföring</h3>
    <p>
        Vid behandling av din beställning delar vi nödvändiga uppgifter till det logistikföretag som ansvarar för leveransen, enligt GDPR art. 6 (1.b), för att möjliggöra leverans av beställda varor. 
        Beroende på vilket betalsätt du väljer för din beställning skickar vi vidare de betalningsuppgifter som skrivits in till den betalningstjänst som ansvarar för betalningen. 
        Betalningstjänsterna samlar delvis själva även in dessa uppgifter, förutsatt att du innehar ett kundkonto hos dem. 
        I det här fallet måste du logga in i betaltjänsten under beställningsprocessen. 
        I dessa avseenden gäller respektive tjänsteleverantörers integritetspolicy.

    </p>

    <h3>Insamling av personuppgifter</h3>
    <p>
        Bakdelar samlar in uppgifter om bland annat ditt IP-nummer, typ av enhet, uppspelade titlar och tekniska data om prestandan på din uppkoppling, enhet och uppspelning.
        Vi samlar även in uppgifter om du angivit språkpreferens i din browser. 
        Syftet med Bakdelars behandling av uppgifterna är att möjliggöra individuell support rörande Bakdelars tjänster, vidareutveckla Badelars tjänster och förbättra vårt utbud.
        <br/>
        Uppgifterna kan komma att behandlas av våra leverantörer. Vi gör alltid vår yttersta att skydda de personuppgifter vi behandlar genom adekvata säkerhetsåtgärder.

    </p>
   

</div>
