@page
@model Bakdelar.Pages.TermsConditionsModel
@{
    ViewData["Title"] = "Köpvillkor";
}


<h1 class="col-10 mx-5 my-4">@ViewData["Title"]</h1>


<div class="col-10 mx-5 justify-content-left">

    <h3>Ångerrätt</h3>
    <p>
        Som konsument har du alltid 14 dagars ångerrätt vid postorderköp enligt distansavtalslagen.
        Detta gäller dock inte för tjänsterna produkter med eget tryck eftersom dessa varor utformas
        speciellt för varje kund.
    </p>

    <h3>Reklamation</h3>
    <p>
        Om du upptäcker ett fel på varan du beställt eller om den inte motsvarar den produkt du beställde
        ska du kontakta oss på info@bakdelar.se snarast. Vid returer skickar du tillbaka varan i originalemballaget.
        Om detta ej finns tillgängligt använd motsvarande förpackning. Om paketet är skadat vid leverans bör du
        reklamera transportskadan direkt hos ditt ombud. Obs! Returer får ej ske utan att du först kontaktar vår kundtjänst.
    </p>

    <h3>Personuppgifter</h3>
    <p>
        Genom att lägga en beställning samtycker du till att dina uppgifter registreras i vårt kundregister. Detta för att
        vi ska kunna följa upp din beställning och ge den service som förväntas av oss. Vi garanterar att ingen annan än
        Bakdelar.se använder uppgifterna för marknadsföring. I enlighet med GDPR-lagen sparas endast de uppgifter vi behöver
        för att kunna följa upp din beställning. Du som kund har även rätt att få ut de uppgifter vi har lagrat om dig och/eller
        få dem raderade.
    </p>

    <h3>Leveransvillkor</h3>
    <p>
        Många av våra beställningar har ett önskat leveransdatum. Vi kan endast ange när varorna kan skickas från oss. Var
        därför ute i god tid med din beställning. Förväntad leveranstid står under varje produkt eller bekräftas i ditt
        ordererkännande. Normalt når leveransen dig nästkommande arbetsdag eller inom 2-3 dagar i norra delen av Sverige från
        att det lämnat oss. Leveransvillkoren är fritt vårt lager och en försenad leverans är inte giltigt skäl för reklamation
        då produkterna är unikt framtagna för dig som kund. Det är viktigt att du kontrollerar att de leveransuppgifter du
        angett är korrekta och stämmer i din orderbekräftelse. Kontrollera noga när du mottar din beställning att det ej är
        transportskada samt att antalet kollin stämmer. Skulle något ske i produktionen som försenar din leverans mer än några
        dagar kontaktar vi dig. Vi ersätter ej kostnader som uppstår om leverans ej når mottagaren i tid.
    </p>

    <h3>Beställning</h3>
    <p>
        En beställning lägger du lättast direkt på bakdelar.se eller i mail till info@bakdelar.se När korrekturet är godkänt
        eller ordern är bekräftad tar vi in produkterna för produktion. Det innebär att en order inte går att avboka, men kan
        då debiteras efter vår prislista utan märkning om inte produktionen är påbörjad.
    </p>

    <h3>Korrektur/Förhandsvisning</h3>
    <p>
        Vi strävar efter att i våra korrektur redovisa så tydligt vi kan hur det förväntade resultatet kommer att bli, men ska
        ses som en uppskattning. Då de flesta av våra märkningar så som screentryck och transfer görs för hand, innebär att
        köparen måste ha förståelse för avvikande placeringar mellan olika produkter. Märkningen görs efter vad vi anser vara
        normalt. Finns det en mer specifik önskan om placering måste denna göras innan korrekturet godkänns. Det är av största
        vikt att köparen noggrant ser över korrektur vi skickar ut innan de godkänns. Så som mått, placering och färger.
        Det är korrekturets motiv som går i tryck och inte det som skickats in då vissa filer kan behöva justeras för att vara
        möjliga att trycka. Därför måste köparen även noga se över att motivet i korrekturet stämmer. Vi ansvarar inte för fel
        som upptäcks efter det att korrekturet är godkänt och produktionen påbörjad.
    </p>

    <h3>Övrigt</h3>
    <p>
        Bakdelar erbjuder ingen butiksförsäljning. För att kunna hålla våra låga priser så sköter vi all vår försäljning via
        internet och all support sker via e-post.
        <br />
        Vi reserverar oss mot felskrivningar och felaktiga priser.
    </p>
</div>

<div class="container mx-5 justify-content-left">
    <div class="row">
        <a href="~/Checkout" class="nav-link active text-info">Gå till Kundkorgen</a>
        <a href="~/Index" class="nav-link active text-info">Gå till Startsidan</a>
    </div>
</div>
